In [1]:
import pandas as pd
import numpy as np

In [2]:
#first clean the salaries Data
salariesDF = pd.read_csv('..\data\inProcess\salaries.csv')
salariesDF.set_index('Field of study', inplace = True)
salariesDF.head()

,All full-time employed,Computer applications,"Management, sales, or administration",Professional services,Any R&D,Teaching,Other
Field of study,,,,,,,
All fields,110000,129000,136000,115000,115000,79000,106000
Science,104000,126000,130000,110000,110000,76000,99000
"Biological, agricultural, and environmental life sciences",100000,105000,125000,152000,100000,75000,99000
Agricultural and food sciences,106000,100000,135000,120000,101000,84000,88000
Biochemistry and biophysics,109000,116000,135000,159000,105000,69000,110000

In [3]:
salariesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, All fields to Health
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   All full-time employed                32 non-null     int64
 1   Computer applications                 32 non-null     object
 2   Management, sales, or administration  32 non-null     int64
 3   Professional services                 32 non-null     object
 4   Any R&D                               32 non-null     int64
 5   Teaching                              32 non-null     int64
 6   Other                                 32 non-null     object
dtypes: int64(4), object(3)
memory usage: 2.0+ KB

In [4]:
bad = pd.to_numeric(salariesDF['Computer applications'], errors='coerce').isna()
print(bad.sum())
print(salariesDF['Computer applications'][bad])

2
Field of study
Zoology                             D
Political science and government    D
Name: Computer applications, dtype: object

In [5]:
bad = pd.to_numeric(salariesDF['Professional services'], errors='coerce').isna()
print(bad.sum())
print(salariesDF['Professional services'][bad])

2
Field of study
Astronomy and astrophysics                                D
Aerospace, aeronautical, and astronautical engineering    D
Name: Professional services, dtype: object

In [6]:
bad = pd.to_numeric(salariesDF['Other'], errors='coerce').isna()
print(bad.sum())
print(salariesDF['Other'][bad])

1
Field of study
Aerospace, aeronautical, and astronautical engineering    D
Name: Other, dtype: object

According to footnotes, "D" stands for "suppressed to avoid disclosure of confidential information."

Looking at data on the web where it was downloaded from, some rows are summaries of subsequent rows. E.g., there's is a "Biological, agricultural, and environmental life sciences" is broken down into the next rows as "Agricultural and food sciences" for a total of 7 categories, each of which is broken into more categories. These indents are on the web, but lost when the data are downloaded as Excel files.

Because the "D" fields are probably small samples, we can replace the "D" with the category value.

In [8]:
salariesDF.index

Index(['All fields', 'Science',
       'Biological, agricultural, and environmental life sciences',
       'Agricultural and food sciences', 'Biochemistry and biophysics',
       'Cell, cellular biology, and molecular biology',
       'Microbiological sciences and immunology',
       'Natural resources and conservation', 'Zoology',
       'Other biological sciences', 'Computer and information sciences',
       'Mathematics and statistics',
       'Physical sciences, geosciences, atmospheric, and ocean sciences',
       'Astronomy and astrophysics', 'Chemistry, except biochemistry',
       'Geosciences, atmospheric, and ocean sciences', 'Physics', 'Psychology',
       'Social sciences', 'Economics', 'Political science and government',
       'Sociology, demography, and population studies',
       'Other social sciences', 'Engineering',
       'Aerospace, aeronautical, and astronautical engineering',
       'Chemical engineering', 'Civil engineering',
       'Electrical and computer engineering', 'Mechanical engineering',
       'Metallurgical and materials engineering', 'Other engineering',
       'Health'],
      dtype='object', name='Field of study')

Looking at the web site, "zoology" is a subcategory of "biological...sciences"

"political sciences" is a sub of "social sciences"

"Astronomy and astrophysics" is a sub of "Physical sciences, geosciences, atmospheric, and ocean sciences"

"Aerospace, aeronautical, and astronautical engineering" is a sub of "engineering"