In [1]:
import pandas as pd
import numpy as np

## First Table, Salaries by Primary Work Activity
Table 57-2

Excel files downloaded from:
https://ncsesdata.nsf.gov/doctoratework/2017/

In [2]:
#first clean the salaries by Work Activity
salariesDF = pd.read_csv('..\data\inProcess\salaries.csv')
salariesDF.set_index('Field of study', inplace = True)
salariesDF.head()

,All full-time employed,Computer applications,"Management, sales, or administration",Professional services,Any R&D,Teaching,Other
Field of study,,,,,,,
All fields,110000,129000,136000,115000,115000,79000,106000
Science,104000,126000,130000,110000,110000,76000,99000
"Biological, agricultural, and environmental life sciences",100000,105000,125000,152000,100000,75000,99000
Agricultural and food sciences,106000,100000,135000,120000,101000,84000,88000
Biochemistry and biophysics,109000,116000,135000,159000,105000,69000,110000

In [3]:
salariesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, All fields to Health
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   All full-time employed                32 non-null     int64
 1   Computer applications                 32 non-null     object
 2   Management, sales, or administration  32 non-null     int64
 3   Professional services                 32 non-null     object
 4   Any R&D                               32 non-null     int64
 5   Teaching                              32 non-null     int64
 6   Other                                 32 non-null     object
dtypes: int64(4), object(3)
memory usage: 2.0+ KB

Some of the columns are type "object" indicating that they contain non numeric values

In [4]:
#Find the non numeric rows in column "computer applications"
notNumbers = pd.to_numeric(salariesDF['Computer applications'], errors='coerce').isna()
print(notNumbers.sum())
print(salariesDF['Computer applications'][notNumbers])

2
Field of study
Zoology                             D
Political science and government    D
Name: Computer applications, dtype: object

In [5]:
#Find the non numeric rows in column "rofessional services"
notNumbers = pd.to_numeric(salariesDF['Professional services'], errors='coerce').isna()
print(notNumbers.sum())
print(salariesDF['Professional services'][notNumbers])

2
Field of study
Astronomy and astrophysics                                D
Aerospace, aeronautical, and astronautical engineering    D
Name: Professional services, dtype: object

In [6]:
#Find the non numeric rows in column "Other"
notNumbers = pd.to_numeric(salariesDF['Other'], errors='coerce').isna()
print(notNumbers.sum())
print(salariesDF['Other'][notNumbers])

1
Field of study
Aerospace, aeronautical, and astronautical engineering    D
Name: Other, dtype: object

According to footnotes, "D" stands for "suppressed to avoid disclosure of confidential information."

Looking at data on the web where it was downloaded from, some rows are summaries of subsequent rows. E.g., there's is a "Biological, agricultural, and environmental life sciences" is broken down into the next rows as "Agricultural and food sciences" for a total of 7 categories, each of which is broken into more categories. These indents are on the web, but lost when the data are downloaded as Excel files.

Because the "D" fields are probably small samples, we can replace the "D" with the category value.

In [7]:
salariesDF.index

Index(['All fields', 'Science',
       'Biological, agricultural, and environmental life sciences',
       'Agricultural and food sciences', 'Biochemistry and biophysics',
       'Cell, cellular biology, and molecular biology',
       'Microbiological sciences and immunology',
       'Natural resources and conservation', 'Zoology',
       'Other biological sciences', 'Computer and information sciences',
       'Mathematics and statistics',
       'Physical sciences, geosciences, atmospheric, and ocean sciences',
       'Astronomy and astrophysics', 'Chemistry, except biochemistry',
       'Geosciences, atmospheric, and ocean sciences', 'Physics', 'Psychology',
       'Social sciences', 'Economics', 'Political science and government',
       'Sociology, demography, and population studies',
       'Other social sciences', 'Engineering',
       'Aerospace, aeronautical, and astronautical engineering',
       'Chemical engineering', 'Civil engineering',
       'Electrical and computer engineering', 'Mechanical engineering',
       'Metallurgical and materials engineering', 'Other engineering',
       'Health'],
      dtype='object', name='Field of study')

Looking at the web site, "zoology" is a subcategory of "biological...sciences"

"political sciences" is a subcategory of "social sciences"

"Astronomy and astrophysics" is a ssubcategoryub of "Physical sciences, geosciences, atmospheric, and ocean sciences"

"Aerospace, aeronautical, and astronautical engineering" is a subcategory of "engineering"

In [8]:
#Replace the non numeric values with the value for the higher order classification for each row
salariesDF.loc['Zoology','Computer applications'] = salariesDF.loc['Biological, agricultural, and environmental life sciences','Computer applications']
salariesDF.loc['Political science and government','Computer applications'] = salariesDF.loc['Social sciences','Computer applications']
salariesDF.loc['Astronomy and astrophysics','Professional services'] = salariesDF.loc['Physical sciences, geosciences, atmospheric, and ocean sciences','Professional services']
salariesDF.loc['Aerospace, aeronautical, and astronautical engineering','Professional services'] = salariesDF.loc['Engineering','Professional services']
salariesDF.loc['Aerospace, aeronautical, and astronautical engineering','Other'] = salariesDF.loc['Engineering','Other']
salariesDF['Computer applications'] = pd.to_numeric(salariesDF['Computer applications'], errors='raise')
salariesDF['Professional services'] = pd.to_numeric(salariesDF['Professional services'], errors='raise')
salariesDF['Other'] = pd.to_numeric(salariesDF['Other'], errors='raise')
salariesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, All fields to Health
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   All full-time employed                32 non-null     int64
 1   Computer applications                 32 non-null     int64
 2   Management, sales, or administration  32 non-null     int64
 3   Professional services                 32 non-null     int64
 4   Any R&D                               32 non-null     int64
 5   Teaching                              32 non-null     int64
 6   Other                                 32 non-null     int64
dtypes: int64(7)
memory usage: 3.0+ KB

## Second Table, Salaries by location data
Table 58

In [9]:
#next clean the salaries by location data (broad field only)
locationDF = pd.read_csv('..\data\inProcess\location.csv')
locationDF.set_index('Field of study', inplace = True)
locationDF.head()

,All locations,New England,Connecticut,Maine,Massachusetts,New Hampshire,Rhode Island,Vermont,Middle Atlantic,New Jersey,...,Utah,Wyoming,Pacific,Alaska,California,Hawaii,Oregon,Washington,Puerto Rico,U.S. territories and other areas
Field of study,,,,,,,,,,,,,,,,,,,,,
All fields,110000,115000,115000,99000,120000,96000,109000,102000,115000,130000,...,98000,75000,125000,93000,130000,89000,110000,119000,80000,99000
Science,104000,110000,106000,96000,113000,94000,103000,100000,110000,129000,...,94000,72000,118000,90000,120000,89000,97000,110000,75000,89000
"Biological, agricultural and environmental life sciences",100000,105000,108000,99000,109000,85000,99000,88000,106000,120000,...,85000,75000,110000,87000,115000,94000,96000,109000,83000,81000
Computer and information sciences,139000,125000,125000,D,126000,D,D,D,150000,148000,...,117000,D,157000,D,157000,D,140000,158000,S,S
Mathematics and statistics,108000,118000,105000,D,129000,78000,100000,S,125000,134000,...,109000,D,125000,D,134000,103000,88000,124000,D,70000

Again, fields with "D" or "S" are suppressed. Because states are subcategories of region, we can replace these values with the region values.

In [10]:
#Replace all suppression indicators with NaN
locationDF.replace('D', np.NaN, inplace = True)
locationDF.replace('S', np.NaN, inplace = True)
locationDF.replace('*', np.NaN, inplace = True)
print('Number of Null values is: ',locationDF.isna().sum().sum())

Number of Null values is:  52

In [11]:
locationDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, All fields to Health
Data columns (total 63 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   All locations                     10 non-null     int64
 1   New England                       10 non-null     int64
 2   Connecticut                       10 non-null     int64
 3   Maine                             7 non-null      object
 4   Massachusetts                     10 non-null     int64
 5   New Hampshire                     9 non-null      object
 6   Rhode Island                      8 non-null      object
 7   Vermont                           7 non-null      object
 8   Middle Atlantic                   10 non-null     int64
 9   New Jersey                        10 non-null     int64
 10  New York                          10 non-null     int64
 11  Pennsylvania                      10 non-null     int64
 12  East North Central                10 non-null     int64
 13  Illinois                          10 non-null     int64
 14  Indiana                           10 non-null     int64
 15  Michigan                          10 non-null     int64
 16  Ohio                              10 non-null     int64
 17  Wisconsin                         10 non-null     int64
 18  West North Central                10 non-null     int64
 19  Iowa                              9 non-null      object
 20  Kansas                            9 non-null      object
 21  Minnesota                         10 non-null     int64
 22  Missouri                          10 non-null     int64
 23  Nebraska                          9 non-null      object
 24  North Dakota                      6 non-null      object
 25  South Dakota                      5 non-null      object
 26  South Atlantic                    10 non-null     int64
 27  Delaware                          8 non-null      object
 28  District of Columbia              9 non-null      object
 29  Florida                           10 non-null     int64
 30  Georgia                           10 non-null     int64
 31  Maryland                          10 non-null     int64
 32  North Carolina                    10 non-null     int64
 33  South Carolina                    10 non-null     int64
 34  Virginia                          10 non-null     int64
 35  West Virginia                     8 non-null      object
 36  East South Central                10 non-null     int64
 37  Alabama                           10 non-null     int64
 38  Kentucky                          9 non-null      object
 39  Mississippi                       8 non-null      object
 40  Tennessee                         10 non-null     int64
 41  West South Central                10 non-null     int64
 42  Arkansas                          9 non-null      object
 43  Louisiana                         10 non-null     int64
 44  Oklahoma                          9 non-null      object
 45  Texas                             10 non-null     int64
 46  Mountain                          10 non-null     int64
 47  Arizona                           9 non-null      object
 48  Colorado                          10 non-null     int64
 49  Idaho                             8 non-null      object
 50  Montana                           8 non-null      object
 51  Nevada                            8 non-null      object
 52  New Mexico                        10 non-null     int64
 53  Utah                              10 non-null     int64
 54  Wyoming                           5 non-null      object
 55  Pacific                           10 non-null     int64
 56  Alaska                            7 non-null      object
 57  California                        10 non-null     int64
 58  Hawaii                            9 non-null      object
 59  Oregon                            10 non-null     int64
 60  Washington                        10 non-null     int64
 61  Puerto Rico                       7 non-null      object
 62  U.S. territories and other areas  8 non-null      object
dtypes: int64(38), object(25)
memory usage: 5.0+ KB

In [12]:
#Replace the NaNs in each column with the values from the region
#can't use a loop for this because the regions aren't the same number of
#rows. Have to point each column to the correct region manually.

locationDF['Maine'].fillna(locationDF['New England'], inplace = True)
locationDF['New Hampshire'].fillna(locationDF['New England'], inplace = True)
locationDF['Rhode Island'].fillna(locationDF['New England'], inplace = True)
locationDF['Vermont'].fillna(locationDF['New England'], inplace = True)
locationDF['Iowa'].fillna(locationDF['West North Central'], inplace = True)
locationDF['Kansas'].fillna(locationDF['West North Central'], inplace = True)
locationDF['Nebraska'].fillna(locationDF['West North Central'], inplace = True)
locationDF['North Dakota'].fillna(locationDF['West North Central'], inplace = True)
locationDF['South Dakota'].fillna(locationDF['West North Central'], inplace = True)
locationDF['Delaware'].fillna(locationDF['South Atlantic'], inplace = True)
locationDF['District of Columbia'].fillna(locationDF['South Atlantic'], inplace = True)
locationDF['West Virginia'].fillna(locationDF['South Atlantic'], inplace = True)
locationDF['Kentucky'].fillna(locationDF['East South Central'], inplace = True)
locationDF['Mississippi'].fillna(locationDF['East South Central'], inplace = True)
locationDF['Arkansas'].fillna(locationDF['West South Central'], inplace = True) 
locationDF['Oklahoma'].fillna(locationDF['West South Central'], inplace = True) 
locationDF['Arizona'].fillna(locationDF['Mountain'], inplace = True) 
locationDF['Idaho'].fillna(locationDF['Mountain'], inplace = True) 
locationDF['Montana'].fillna(locationDF['Mountain'], inplace = True) 
locationDF['Nevada'].fillna(locationDF['Mountain'], inplace = True) 
locationDF['Wyoming'].fillna(locationDF['Mountain'], inplace = True) 
locationDF['Alaska'].fillna(locationDF['Pacific'], inplace = True) 
locationDF['Hawaii'].fillna(locationDF['Pacific'], inplace = True)
locationDF = locationDF.apply(pd.to_numeric)

In [13]:
#US territories and Puerto Rico are both missing values. Just using "all locations"
#is artificially high. Will calculate the percentage the Territories are of the 
#median salaries from all locations and put those values in for the Territories
territories_percentage = (locationDF['U.S. territories and other areas'] / locationDF['All locations']).mean()
locationDF['U.S. territories and other areas'].fillna(locationDF['All locations']*territories_percentage, inplace = True)

#now set Puerto Rico to the terrritories value
locationDF['Puerto Rico'].fillna(locationDF['U.S. territories and other areas'], inplace = True)

In [14]:
print('Number of Null values is: ',locationDF.isna().sum().sum())

Number of Null values is:  0

## Third table. Median Salaries by Sector of employment
Table 54

In [15]:
#next clean the salaries by sector data
sectorDF = pd.read_csv('..\data\inProcess\sector.csv')
sectorDF.set_index('Field of study', inplace = True)
sectorDF.head()

,All full-time employed,4-year educational institution,Other educational institution,"Private, for profit","Private, nonprofit",Federal government,State or local government,Self-employed,Other
Field of study,,,,,,,,,
All fields,110000,90000,71000,137000,114000,120000,90000,99000,124000
Science,104000,88000,71000,135000,109000,118000,86000,100000,124000
"Biological, agricultural, and environmental life sciences",100000,84000,69000,130000,105000,110000,79000,99000,89000
Agricultural and food sciences,106000,94000,88000,125000,100000,115000,79000,89000,65000
Biochemistry and biophysics,109000,82000,57000,129000,131000,114000,108000,68000,D

In [16]:
#Replace all suppression indicators with NaN
sectorDF.replace('D', np.NaN, inplace = True)
sectorDF.replace('S', np.NaN, inplace = True)
sectorDF.replace('*', np.NaN, inplace = True)
print('Number of Null values is: ',sectorDF.isna().sum().sum())

Number of Null values is:  28

In [17]:
sectorDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, All fields to Health
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   All full-time employed          32 non-null     int64
 1   4-year educational institution  32 non-null     int64
 2   Other educational institution   29 non-null     object
 3   Private, for profit             32 non-null     int64
 4   Private, nonprofit              32 non-null     int64
 5   Federal government              32 non-null     int64
 6   State or local government       27 non-null     object
 7   Self-employed                   19 non-null     object
 8   Other                           25 non-null     object
dtypes: int64(5), object(4)
memory usage: 2.5+ KB

In [18]:
#if we transpose this, we can fill NaNs with other columns as above.
sectorDF = sectorDF.transpose()
sectorDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, All full-time employed to Other
Data columns (total 32 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   All fields                                                       9 non-null      object
 1   Science                                                          9 non-null      object
 2   Biological, agricultural, and environmental life sciences        9 non-null      object
 3   Agricultural and food sciences                                   9 non-null      object
 4   Biochemistry and biophysics                                      8 non-null      object
 5   Cell, cellular biology, and molecular biology                    7 non-null      object
 6   Microbiological sciences and immunology                          7 non-null      object
 7   Natural resources and conservation                               9 non-null      object
 8   Zoology                                                          7 non-null      object
 9   Other biological sciences                                        9 non-null      object
 10  Computer and information sciences                                9 non-null      object
 11  Mathematics and statistics                                       9 non-null      object
 12  Physical sciences, geosciences, atmospheric, and ocean sciences  9 non-null      object
 13  Astronomy and astrophysics                                       7 non-null      object
 14  Chemistry, except biochemistry                                   9 non-null      object
 15  Geosciences, atmospheric, and ocean sciences                     8 non-null      object
 16  Physics                                                          8 non-null      object
 17  Psychology                                                       9 non-null      object
 18  Social sciences                                                  9 non-null      object
 19  Economics                                                        8 non-null      object
 20  Political science and government                                 8 non-null      object
 21  Sociology, demography, and population studies                    9 non-null      object
 22  Other social sciences                                            9 non-null      object
 23  Engineering                                                      9 non-null      object
 24  Aerospace, aeronautical, and astronautical engineering           5 non-null      object
 25  Chemical engineering                                             8 non-null      object
 26  Civil engineering                                                8 non-null      object
 27  Electrical and computer engineering                              8 non-null      object
 28  Mechanical engineering                                           6 non-null      object
 29  Metallurgical and materials engineering                          5 non-null      object
 30  Other engineering                                                9 non-null      object
 31  Health                                                           8 non-null      object
dtypes: object(32)
memory usage: 2.6+ KB

In [19]:
#fill NaNs in subcategories with category value
sectorDF['Biochemistry and biophysics'].fillna(sectorDF['Biological, agricultural, and environmental life sciences'], inplace = True)
sectorDF['Cell, cellular biology, and molecular biology'].fillna(sectorDF['Biological, agricultural, and environmental life sciences'], inplace = True)
sectorDF['Microbiological sciences and immunology'].fillna(sectorDF['Biological, agricultural, and environmental life sciences'], inplace = True)
sectorDF['Zoology'].fillna(sectorDF['Biological, agricultural, and environmental life sciences'], inplace = True)
sectorDF['Astronomy and astrophysics'].fillna(sectorDF['Physical sciences, geosciences, atmospheric, and ocean sciences'], inplace = True)
sectorDF['Geosciences, atmospheric, and ocean sciences'].fillna(sectorDF['Physical sciences, geosciences, atmospheric, and ocean sciences'], inplace = True)
sectorDF['Physics'].fillna(sectorDF['Physical sciences, geosciences, atmospheric, and ocean sciences'], inplace = True)
sectorDF['Economics'].fillna(sectorDF['Social sciences'], inplace = True)
sectorDF['Political science and government'].fillna(sectorDF['Social sciences'], inplace = True)
sectorDF['Aerospace, aeronautical, and astronautical engineering'].fillna(sectorDF['Engineering'], inplace = True)
sectorDF['Chemical engineering'].fillna(sectorDF['Engineering'], inplace = True)
sectorDF['Civil engineering'].fillna(sectorDF['Engineering'], inplace = True)
sectorDF['Electrical and computer engineering'].fillna(sectorDF['Engineering'], inplace = True)
sectorDF['Mechanical engineering'].fillna(sectorDF['Engineering'], inplace = True)
sectorDF['Metallurgical and materials engineering'].fillna(sectorDF['Engineering'], inplace = True)

#Health needs to be handled now, too

sectorDF = sectorDF.apply(pd.to_numeric)

In [20]:
#look at Health compared to other fields.
#In some sectors they make more, but in the aggregate, they make less
#The mean percentage is different than the "all employed" percentage
#Simpson's paradox!
print(sectorDF['Health'] / sectorDF['All fields'])
print((sectorDF['Health'] / sectorDF['All fields']).mean())

All full-time employed            0.945455
4-year educational institution    1.011111
Other educational institution     1.183099
Private, for profit               1.021898
Private, nonprofit                1.175439
Federal government                0.991667
State or local government         1.200000
Self-employed                          NaN
Other                             0.774194
dtype: float64
1.0378576087348654

In [21]:
#Transpose to look at Self employed vs. All
#because self employed is where the last NaN is
#And we eventually want Degrees in the rows anyway
sectorDF = sectorDF.transpose()

In [22]:
sectorDF['Self-employed'] / sectorDF['All full-time employed']

Field of study
All fields                                                         0.900000
Science                                                            0.961538
Biological, agricultural, and environmental life sciences          0.990000
Agricultural and food sciences                                     0.839623
Biochemistry and biophysics                                        0.623853
Cell, cellular biology, and molecular biology                      0.980198
Microbiological sciences and immunology                            0.942857
Natural resources and conservation                                 0.516484
Zoology                                                            1.010204
Other biological sciences                                          1.180000
Computer and information sciences                                  0.805755
Mathematics and statistics                                         0.731481
Physical sciences, geosciences, atmospheric, and ocean sciences    0.956140
Astronomy and astrophysics                                         1.048077
Chemistry, except biochemistry                                     1.009091
Geosciences, atmospheric, and ocean sciences                       1.068627
Physics                                                            0.892562
Psychology                                                         1.020408
Social sciences                                                    0.969697
Economics                                                          0.711111
Political science and government                                   1.010526
Sociology, demography, and population studies                      1.000000
Other social sciences                                              0.917647
Engineering                                                        0.759690
Aerospace, aeronautical, and astronautical engineering             0.725926
Chemical engineering                                               0.759690
Civil engineering                                                  1.254545
Electrical and computer engineering                                0.700000
Mechanical engineering                                             0.816667
Metallurgical and materials engineering                            0.790323
Other engineering                                                  0.934959
Health                                                                  NaN
dtype: float64

In [23]:
#Mean of self employed over all full time is about the same as
#the self employed over all fields
selfEmployedPercentage = (sectorDF['Self-employed'] / sectorDF['All full-time employed']).mean()
print(selfEmployedPercentage)

0.8976671293715522

In [24]:
#replace Health, self employed with the "all employed" value times the percentage
sectorDF.loc['Health', 'Self-employed'] = sectorDF.loc['Health', 'All full-time employed'] * selfEmployedPercentage
print('Number of Null values is: ',sectorDF.isna().sum().sum())

Number of Null values is:  0

In [25]:
#merge the salaries by work activity and by job sector together
#both of these have expanded subcategories of "field of study"
all_degrees = pd.merge(salariesDF, sectorDF, how = 'outer', on = 'Field of study')

In [26]:
all_degrees.head(3)

,All full-time employed_x,Computer applications,"Management, sales, or administration",Professional services,Any R&D,Teaching,Other_x,All full-time employed_y,4-year educational institution,Other educational institution,"Private, for profit","Private, nonprofit",Federal government,State or local government,Self-employed,Other_y
Field of study,,,,,,,,,,,,,,,,
All fields,110000,129000,136000,115000,115000,79000,106000,110000.0,90000.0,71000.0,137000.0,114000.0,120000.0,90000.0,99000.0,124000.0
Science,104000,126000,130000,110000,110000,76000,99000,104000.0,88000.0,71000.0,135000.0,109000.0,118000.0,86000.0,100000.0,124000.0
"Biological, agricultural, and environmental life sciences",100000,105000,125000,152000,100000,75000,99000,100000.0,84000.0,69000.0,130000.0,105000.0,110000.0,79000.0,99000.0,89000.0

In [27]:
#clean up column headings and drop one duplicate column
all_degrees.rename(columns={'All full-time employed_x': 'All full-time employed', 'Other_x': 'Other Activity', 'Other_y': 'Other Sector'}, inplace = True)
all_degrees.drop(columns = ['All full-time employed_y'], inplace = True)

In [28]:
large_categories = pd.merge(all_degrees, locationDF, how = 'inner', on = 'Field of study')

In [29]:
large_categories.head(10)

'''
This didn't work. Suspect that the row names are not exactly the same between locationDF
and the other two. The other two seemed to merge OK, but not this one.

Need to examine further tomorrow.
'''

,All full-time employed,Computer applications,"Management, sales, or administration",Professional services,Any R&D,Teaching,Other Activity,4-year educational institution,Other educational institution,"Private, for profit",...,Utah,Wyoming,Pacific,Alaska,California,Hawaii,Oregon,Washington,Puerto Rico,U.S. territories and other areas
Field of study,,,,,,,,,,,,,,,,,,,,,
All fields,110000,129000,136000,115000,115000,79000,106000,90000.0,71000.0,137000.0,...,98000,75000,125000,93000,130000,89000,110000,119000,80000.000000,99000.000000
Science,104000,126000,130000,110000,110000,76000,99000,88000.0,71000.0,135000.0,...,94000,72000,118000,90000,120000,89000,97000,110000,75000.000000,89000.000000
Computer and information sciences,139000,140000,161000,147000,149000,90000,117000,104000.0,70000.0,152000.0,...,117000,123000,157000,157000,157000,157000,140000,158000,118577.557486,118577.557486
Mathematics and statistics,108000,129000,158000,145000,120000,78000,89000,90000.0,67000.0,149000.0,...,109000,94000,125000,125000,134000,103000,88000,124000,70000.000000,70000.000000
Psychology,98000,109000,113000,100000,105000,76000,87000,87000.0,81000.0,116000.0,...,103000,93000,102000,88000,107000,76000,87000,100000,56000.000000,86000.000000
Social sciences,99000,114000,130000,136000,110000,79000,89000,90000.0,72000.0,143000.0,...,87000,67000,100000,82000,107000,68000,90000,90000,85000.000000,89000.000000
Engineering,129000,129000,150000,148000,125000,93000,118000,100000.0,60000.0,140000.0,...,119000,120000,145000,108000,149000,110000,124000,148000,82000.000000,111000.000000
Health,104000,112000,133000,134000,106000,83000,108000,91000.0,84000.0,140000.0,...,93000,90000,114000,114000,120000,73000,91000,98000,88719.899127,88719.899127

In [30]:
locationDF.head(10)

,All locations,New England,Connecticut,Maine,Massachusetts,New Hampshire,Rhode Island,Vermont,Middle Atlantic,New Jersey,...,Utah,Wyoming,Pacific,Alaska,California,Hawaii,Oregon,Washington,Puerto Rico,U.S. territories and other areas
Field of study,,,,,,,,,,,,,,,,,,,,,
All fields,110000,115000,115000,99000,120000,96000,109000,102000,115000,130000,...,98000,75000,125000,93000,130000,89000,110000,119000,80000.000000,99000.000000
Science,104000,110000,106000,96000,113000,94000,103000,100000,110000,129000,...,94000,72000,118000,90000,120000,89000,97000,110000,75000.000000,89000.000000
"Biological, agricultural and environmental life sciences",100000,105000,108000,99000,109000,85000,99000,88000,106000,120000,...,85000,75000,110000,87000,115000,94000,96000,109000,83000.000000,81000.000000
Computer and information sciences,139000,125000,125000,125000,126000,125000,125000,125000,150000,148000,...,117000,123000,157000,157000,157000,157000,140000,158000,118577.557486,118577.557486
Mathematics and statistics,108000,118000,105000,118000,129000,78000,100000,118000,125000,134000,...,109000,94000,125000,125000,134000,103000,88000,124000,70000.000000,70000.000000
Physical sciences,114000,119000,107000,100000,124000,106000,105000,90000,116000,143000,...,94000,73000,125000,101000,130000,92000,109000,108000,76000.000000,111000.000000
Psychology,98000,100000,110000,87000,99000,86000,116000,95000,100000,111000,...,103000,93000,102000,88000,107000,76000,87000,100000,56000.000000,86000.000000
Social sciences,99000,104000,102000,75000,108000,95000,101000,110000,102000,106000,...,87000,67000,100000,82000,107000,68000,90000,90000,85000.000000,89000.000000
Engineering,129000,130000,129000,103000,133000,128000,132000,101000,125000,134000,...,119000,120000,145000,108000,149000,110000,124000,148000,82000.000000,111000.000000
Health,104000,120000,119000,120000,131000,94000,120000,120000,116000,132000,...,93000,90000,114000,114000,120000,73000,91000,98000,88719.899127,88719.899127

In [31]:
salariesDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, All fields to Health
Data columns (total 7 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   All full-time employed                32 non-null     int64
 1   Computer applications                 32 non-null     int64
 2   Management, sales, or administration  32 non-null     int64
 3   Professional services                 32 non-null     int64
 4   Any R&D                               32 non-null     int64
 5   Teaching                              32 non-null     int64
 6   Other                                 32 non-null     int64
dtypes: int64(7)
memory usage: 3.0+ KB

In [32]:
sectorDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, All fields to Health
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   All full-time employed          32 non-null     float64
 1   4-year educational institution  32 non-null     float64
 2   Other educational institution   32 non-null     float64
 3   Private, for profit             32 non-null     float64
 4   Private, nonprofit              32 non-null     float64
 5   Federal government              32 non-null     float64
 6   State or local government       32 non-null     float64
 7   Self-employed                   32 non-null     float64
 8   Other                           32 non-null     float64
dtypes: float64(9)
memory usage: 3.5+ KB

In [33]:
locationDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, All fields to Health
Data columns (total 63 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   All locations                     10 non-null     int64
 1   New England                       10 non-null     int64
 2   Connecticut                       10 non-null     int64
 3   Maine                             10 non-null     int64
 4   Massachusetts                     10 non-null     int64
 5   New Hampshire                     10 non-null     int64
 6   Rhode Island                      10 non-null     int64
 7   Vermont                           10 non-null     int64
 8   Middle Atlantic                   10 non-null     int64
 9   New Jersey                        10 non-null     int64
 10  New York                          10 non-null     int64
 11  Pennsylvania                      10 non-null     int64
 12  East North Central                10 non-null     int64
 13  Illinois                          10 non-null     int64
 14  Indiana                           10 non-null     int64
 15  Michigan                          10 non-null     int64
 16  Ohio                              10 non-null     int64
 17  Wisconsin                         10 non-null     int64
 18  West North Central                10 non-null     int64
 19  Iowa                              10 non-null     int64
 20  Kansas                            10 non-null     int64
 21  Minnesota                         10 non-null     int64
 22  Missouri                          10 non-null     int64
 23  Nebraska                          10 non-null     int64
 24  North Dakota                      10 non-null     int64
 25  South Dakota                      10 non-null     int64
 26  South Atlantic                    10 non-null     int64
 27  Delaware                          10 non-null     int64
 28  District of Columbia              10 non-null     int64
 29  Florida                           10 non-null     int64
 30  Georgia                           10 non-null     int64
 31  Maryland                          10 non-null     int64
 32  North Carolina                    10 non-null     int64
 33  South Carolina                    10 non-null     int64
 34  Virginia                          10 non-null     int64
 35  West Virginia                     10 non-null     int64
 36  East South Central                10 non-null     int64
 37  Alabama                           10 non-null     int64
 38  Kentucky                          10 non-null     int64
 39  Mississippi                       10 non-null     int64
 40  Tennessee                         10 non-null     int64
 41  West South Central                10 non-null     int64
 42  Arkansas                          10 non-null     int64
 43  Louisiana                         10 non-null     int64
 44  Oklahoma                          10 non-null     int64
 45  Texas                             10 non-null     int64
 46  Mountain                          10 non-null     int64
 47  Arizona                           10 non-null     int64
 48  Colorado                          10 non-null     int64
 49  Idaho                             10 non-null     int64
 50  Montana                           10 non-null     int64
 51  Nevada                            10 non-null     int64
 52  New Mexico                        10 non-null     int64
 53  Utah                              10 non-null     int64
 54  Wyoming                           10 non-null     int64
 55  Pacific                           10 non-null     int64
 56  Alaska                            10 non-null     int64
 57  California                        10 non-null     int64
 58  Hawaii                            10 non-null     int64
 59  Oregon                            10 non-null     int64
 60  Washington                        10 non-null     int64
 61  Puerto Rico                       10 non-null     float64
 62  U.S. territories and other areas  10 non-null     float64
dtypes: float64(2), int64(61)
memory usage: 5.0+ KB